.logo {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    letter-spacing: .75vw;
    /* word-wrap: normal; */
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #000000;
    margin: 0 7vw;
    color: #eaeaea;
}

#list {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-grow: .75;
}

#list a:hover {
    border-bottom: 1px solid red;
}

#nav ul {
    margin: 0;
}

#nav li {
    list-style-type: none;
}

.icons {
    height: .75em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}