.logo {
    image-rendering: -webkit-optimize-contrast;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    letter-spacing: .75vw;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-color: #000000;
    margin: 0 10vw;
    color: #eaeaea;
}

#nav ul {
    margin: 0;
}

#nav li {
    list-style-type: none;
}

.icons {
    height: .75em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}