
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 4vw;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  flex-wrap: wrap;
  list-style: none;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  max-width: 20rem;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



#heroContainer {
  display: flex;
  width: 100vw;
}

#heroContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#heroContainer > div img {
  max-width: 50%;

}
.heroYellow{
  max-width: 50%;
}

.midMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
}

.midMenu div {
  color: #eaeaea;
  background-color: #000000;
  padding: 1em 5em;
  text-align: center;
  margin: 2em 0;
  cursor: pointer;
}


@media (max-width: 600px) {
  #heroContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .midMenu div {
    display: none;
  }
} 

.buttons {
  color: white;
  font-family: inherit;
  font-size: .9em;
  font-weight: 700;
  background-color: blueviolet;
  padding: .8em 1.4em;
  border: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,.4);
  cursor: pointer;
  z-index: 2;
}

.card img {
  max-height: 250px;
}